.root{
 -fx-padding:15;
  -fx-background: black;
}

.label{
 -fx-font-size: 1.5em;

}

#titre{
 -fx-font-weight: bold;
 -fx-background-image: url("fondTitle.png");

}

#today {
    -fx-text-fill: white;
  -fx-background-image: url("today.png");
}


#calendrier{
 -fx-background-image: url("grenouille.jpg");
}

#HorsMois{
-fx-text-fill: grey;
}

#jours{
-fx-text-fill: white;
}