.root{
 -fx-padding:15;
}

.label{
 -fx-font-size: 1.5em;

}

#titre{
 -fx-font-weight: bold;
 -fx-background-image: url("Chrysanthemum.jpg");

}

#today {
 -fx-text-fill: red;
}

.scroll-pane{
 -fx-background: #ddf5ee;
 -fx-border-color: #5F9EA0;
}
